<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="title icon" href="/images/Boxing_Gloves.ico" />
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Boxing Analyser</h1>
    <div class="para">
    <p>My Name is Oisin Concannon. I am currently completing my final year of my level 8 Degree. As part of this degree I am completing a yearlong project.
   Kickboxing is a huge passion of mine and I have been competing for several years now. I am always looking for an edge on opponents and to improve in any way possible.
   This is how my idea came to light, to help fights from all backgrounds analyse their performances in greater detail.
     </p>
   </div>
    <div class="images">
    <img src="/images/box2.jpg" alt="boxing image" width="350" height="250">
      <img src="/images/box1.jpg" alt="boxing image" width="350" height="250">
        <img src="/images/box3.jpg" alt="boxing image" width="350" height="250">
          <img src="/images/box4.jpg" alt="boxing image" width="350" height="250">
          <!--  <img src="/images/box5.jpg" alt="boxing image" width="350" height="250">-->
              <img src="/images/box6.jpg" alt="boxing image" width="350" height="250">
            </div>
    <section class="get">
        <h3>Rounds</h3>
        <div>
            {{# each items }}
                <article class="item">
                    <div><b>Round:</b> {{ this.Round}}</div>
                    <div>Punches: {{ this.Total }}</div>
                    <div>Straight Punches: {{ this.Straight }}</div>
                    <div>Hook Punches: {{ this.Hooks }}</div>
                    <div>Uppercuts Punches: {{ this.Uppercuts }}</div>
                </article>
            {{/each}}
        </div>
    </section>
  <!--  <div class ="chart">
        <img src="/images/chart.jpg" alt="chart image" width="1125" height="633">
    </div>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script language="JavaScript"><!--
    function displayLineChart() {
    let labels = [];
    let x = [req.body.secondParam[1].x];
    let y = [req.body.secondParam[1].y];
    let z = [req.body.secondParam[1].z];
  for (let i = 0; i < 600; i++) {
    labels.push("l" + i);
    x.push(250 + Math.floor(Math.random() * 100));
    y.push(125 + Math.floor(Math.random() * 100));
    z.push(Math.floor(Math.random() * 100));
  }
  var ctx = document.getElementById('canvas').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        //backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: data1
      }, {
        label: 'My First dataset',
        //backgroundColor: 'rgb(255, 255, 132)',
        borderColor: 'rgb(255, 255, 132)',
        data: data2

      }, {
        label: 'My First dataset',
        //backgroundColor: 'rgb(255, 255, 132)',
        borderColor: 'rgb(99, 255, 255)',
        data: data3

      }]
    },

    // Configuration options go here
    options: {
      animation: {
        duration: 0 // general animation time
      },
      hover: {
        animationDuration: 0 // duration of animations when hovering an item
      },
      responsiveAnimationDuration: 0, // animation duration after a resize
      elements: {
        line: {
          tension: 0 // disables bezier curves
        }
      }
    }
  });
    }
    --></script>
</body>
</html>
